:host {
    grid-row: 3/4;
    grid-column: center-start/center-end;
    display: block;
    border-right: 1px solid #e1e1e1;
    border-left: 1px solid #e1e1e1;
  }

  .second-section {
    padding: 0 20px!important;
    grid-row: 3/4;
    display: grid;
    position: relative;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(6, min-content);
    gap: 20px;

    .box {
        width: 600px;
        height: 500px;
        background: #fff;
        position: absolute;
        right: -15%;
        z-index: -1;
    }

    .heading-4 {
        margin-top: 10px;
        grid-row: 1/2;
        grid-column: 1/-1;
        justify-self: center;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        color: #a8a8a8;
        font-size: 15px;
    }

    .heading-1 {
        grid-row: 2/3;
        grid-column: 3/7;
        justify-self: center;
        font-size: 40px;
        font-weight: 500;
    }

    .info-1 {
        display: grid;
        grid-template-columns: repeat(8,1fr);
        grid-template-rows: repeat(8, min-content);
        grid-row: 4/-1;
        grid-column: 1/-1;
        gap: 20px;
        position: relative;

        &__text {
            grid-row: 1/-1;
            grid-column: 1/5;
            display: grid;
            grid-template-rows: repeat(6,min-content);
            gap: 25px;

            span.quote {
                font-size: 120px;
                transform: translateY(80px);
            }

            .heading-3 {
                grid-row: 2/3;
                grid-column: 1/-1;
                font-size: 32px;
                font-weight: 500;
            }

            p.paragraph {
                font-weight: 400;
                font-size: 16px;
                line-height: 1.7;
                grid-row: 3/4;
                width: 75%;
            }
        }


        &__visual {
            grid-column: 5/-1;
            grid-row: 1/-1;
            height: 500px;
            overflow: hidden;
            margin-right: 20px;
        }
    }
}

@media(max-width: 768px) {
    .info-1{
        display: flex!important;
        flex-direction: column;
        padding-bottom: 20px!important;

        .info-1__text {
            p.paragraph {
                width: 100%!important;
            }
        }
    }
}