<section class="second-section" #secondSection>
    <div class="box"></div>
    <h4 class="heading-4" id="about">About Us</h4>
    <div class="info-1">
        <div class="info-1__text">
            <span class="quote">
                "
            </span>
            <h2 class="heading-3">
                Who are We?
            </h2>
            <p class="paragraph">
                Almatin Investment Limited is a limited company 
                incorporated in 2020 under the Companies Act, 2015. The Company deals majorly in the supply of goods and services ranging from IT Equipment and services, software development and other general supplies. Since its inception, Almatin Investment Ltd has helped various partners and other clients achieve their mandate through timely delivery of contracts and assignments. At Almatin, we believe in quality as a key driver on all our assignments and contracts.                 </p>
            <div class="btn btn--learn">Learn More</div>
        </div>
        <div class="info-1__visual">
            <img src="./../assets/images/solo.jpg" alt="">
        </div>
    </div>
</section>
