<div class="dialog">
    <div class="dialog__visual">
        <img src="./../../../../../assets/images/userj.jpg" alt="">
    </div>
    <div class="dialog__info">
        <div class="dialog__header">
            <h2>Peter Drury</h2>
        </div>
        <div>   
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente soluta minima dolor facere numquam dignissimos sequi necessitatibus molestiae magni, natus harum sunt facilis culpa odio eius voluptates debitis? Magnam, minima.</p>
        </div>
    </div>
</div>
