<footer class="footer">
    <div class="footer__content">
        <div class="footer__brand">
            <h3 class="footer__logo">Almatin Investment Limited</h3>
            <p class="footer__tagline">Your trusted investment partner since 2010</p>
        </div>
        
        <div class="footer__links">
            <div class="footer__column" style="color: #2b2b2b;;">
                <h4 class="footer__heading">Navigation</h4>
                <ul class="footer__menu">
                    <li class="footer__item"><a href="#" class="footer__link">Home</a></li>
                    <li class="footer__item"><a href="#" class="footer__link">About Us</a></li>
                    <li class="footer__item"><a href="#" class="footer__link">Team</a></li>
                    <li class="footer__item"><a href="#" class="footer__link">Services</a></li>
                </ul>
            </div>
            
            <div class="footer__column">
                <h4 class="footer__heading">Resources</h4>
                <ul class="footer__menu">
                    <li class="footer__item"><a href="#" class="footer__link">Blog</a></li>
                    <li class="footer__item"><a href="#" class="footer__link">FAQ</a></li>
                </ul>
            </div>
            
            <div class="footer__column">
                <h4 class="footer__heading">Contact Us</h4>
                <address class="footer__contact">
                    <!-- <p class="footer__info">Ngong Road</p> -->
                    <p class="footer__info">Nairobi, Kenya</p>
                    <p class="footer__info">Email: almatininvestmentltd&#64;gmail.com</p>
                    <p class="footer__info">Phone: +254 (0)727514655</p>
                </address>
            </div>
        </div>
    </div>
    
    <div class="footer__bottom">
        <p class="footer__copyright">&copy; 2025 Almatin Investment Limited. All rights reserved.</p>
        <div class="footer__social">
            <a href="#" class="footer__social-link" aria-label="Facebook">
                <i class="icon icon-facebook"></i>
            </a>
            <a href="#" class="footer__social-link" aria-label="Twitter">
                <i class="icon icon-twitter"></i>
            </a>
            <a href="#" class="footer__social-link" aria-label="LinkedIn">
                <i class="icon icon-linkedin"></i>
            </a>
            <a href="#" class="footer__social-link" aria-label="Instagram">
                <i class="icon icon-instagram"></i>
            </a>
        </div>
    </div>
</footer>
