<div class="main">
    <header class="header">
        <ul class="menu" #menu>
            <li class="menu__item"><a class="menu__link">Home</a></li>
            <li class="menu__item"><a class="menu__link">About Us</a></li>
            <li class="menu__item"><a class="menu__link">Team</a></li>
            <li class="menu__item"><a class="menu__link">Services</a></li>
            <li class="menu__item"><a class="menu__link">Testimonials</a></li>      
        </ul>
        <ul class="menu menu-right" #menuSecond>
            <li class="menu__item"><a class="menu__link">Blog</a></li>
            <li class="menu__item"><a class="menu__link">FAQ</a></li>
        </ul>
    </header>

    <section class="first-section">
        <div class="info">
            <h1 class="heading-1">Almatin Investment Limited</h1>
            <p class="paragraph">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                 Nisi illo rem, nobis iure soluta in. Eligendi blanditiis
                exercitationem sapiente rem.
            </p>
            <a class="btn btn--start">Get Started</a>
        </div>
        <div class="visuals">
            <div class="image-container">
                <img #imageFirst src="./../assets/images/first.jpg" alt="">
            </div>
            <div class="image-container">
                <img #imageSecond src="./../assets/images/second.jpg" alt="">
            </div>
        </div>
    </section>

    <section class="second-section" #secondSection>
        <div class="box"></div>
        <h4 class="heading-4" id="about">About Us</h4>
        <h1 class="heading-1" id="buy">
            Buying ipsum dolor sit, amet consectetur 
            adipisicing elit. Alias rerum hic illum atque.
        </h1>
        <div class="info-1">
            <div class="info-1__text">
                <span class="quote">
                    "
                </span>
                <h2 class="heading-3">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime nulla possimus dolore quas soluta?
                </h2>
                <p class="paragraph">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab dolorem, aut iste saepe eos a minima minus inventore sed quam deleniti ullam ipsa aperiam nobis.
                </p>
                <div class="btn btn--learn">Learn More</div>
            </div>
            <div class="info-1__visual">
                <img src="./../assets/images/solo.jpg" alt="">
            </div>
        </div>
    </section>
</div>