mat-drawer {
    width: 300px;
    position: fixed;
    top: 0;
    left: 0;

    .d-flex {
        justify-content: end;

        .icon {
            padding: 20px!important;

            i {
                font-size: 25px;
                cursor: pointer;
            }
        }
    }

    .menu__links {
        width: 100%;
        padding: 20px!important;

        .menu__sidebar {
            .menu__item {
                list-style: none;
                margin: 1rem 0;
                text-decoration: none;
                color: #2e2e2e;
               

                .menu__link {
                    list-style: none;
                    padding: 1rem;
                    text-decoration: none;
                    color: #2e2e2e;
                }
            }
        }
    }
}