
<mat-drawer-container class="example-container">
    <mat-drawer mode="over" [opened]="opened">
        <div class="d-flex">
            <div class="icon">
                <i (click)="toggleSideBar($event)" class="bi bi-x"></i>
            </div>
        </div>
    </mat-drawer>
    <mat-drawer-content>
        <div class="main">
            <app-header (toggle)="toggleSideBar($event)"></app-header>
            <app-hero></app-hero>
            <app-about-us></app-about-us>
            <app-mission-vision></app-mission-vision>
            <app-team></app-team>
            <app-footer></app-footer>
        </div>
    </mat-drawer-content>
</mat-drawer-container>