
<mat-drawer-container class="example-container">
    <mat-drawer mode="over" [opened]="opened">
        <div class="d-flex">
            <div class="icon">
                <i (click)="toggleSideBar($event)" class="bi bi-x"></i>
            </div>
        </div>
        <div class="menu__links">
            <ul class="menu__sidebar" #menu>
                <li class="menu__item" (click)="scrollToSection('home')"><a class="menu__link">Home</a></li>
                <li class="menu__item" (click)="scrollToSection('about')"><a class="menu__link">About Us</a></li>
                <li class="menu__item" (click)="scrollToSection('team')"><a class="menu__link">Team</a></li>
                <li class="menu__item"><a class="menu__link">Services</a></li>
                <li class="menu__item"><a class="menu__link">Testimonials</a></li>      
                <li class="menu__item"><a class="menu__link">Blog</a></li>
                <li class="menu__item"><a class="menu__link">FAQ</a></li>
            </ul>
        </div>
    </mat-drawer>
    <mat-drawer-content>
        <div class="main">
            <app-header (toggle)="toggleSideBar($event)"></app-header>
            <app-hero class="hero"></app-hero>
            <app-about-us class="about"></app-about-us>
            <app-mission-vision class="mission"></app-mission-vision>
            <app-team class="team"></app-team>
            <app-footer></app-footer>
        </div>
    </mat-drawer-content>
</mat-drawer-container>