<header class="header">
    <ul class="menu" #menu>
        <li class="menu__item"><a (click)="scrollToSection('home')" class="menu__link">Home</a></li>
        <li class="menu__item"><a (click)="scrollToSection('about')" class="menu__link">About Us</a></li>
        <li class="menu__item"><a (click)="scrollToSection('team')" class="menu__link">Team</a></li>
        <li class="menu__item"><a class="menu__link">Services</a></li>
        <li class="menu__item"><a class="menu__link">Testimonials</a></li>      
        <li class="menu__item"><a class="menu__link">Blog</a></li>
        <li class="menu__item"><a class="menu__link">FAQ</a></li>
    </ul>
    <div class="burger">
        <i (click)="openSideMenu()" class="bi bi-list"></i>
    </div>
</header>