<section class="fourth-section">
    <div class="upper">
        <div class="mission">
            <h3 class="heading-3">
                Our
            </h3>
            <h1 class="heading-1">Mission</h1>
            <div class="info">
                <span class="quote">“</span>
                <p>To provide access to quality goods and services, 
                    enabling our clients to achieve their desired potential 
                    through timely accomplishments of tasks.”
                </p>
            </div>
            <i class="bi bi-bullseye"></i>
        </div>
        <div class="vision">
            <h3 class="heading-3">
                Our
            </h3>
            <h1 class="heading-1">Vision</h1>
            <div class="info">
                <span class="quote">“</span>
                <p>To be the leading innovator in digital solutions, transforming how businesses and organizations connect, operate and thrive in a seamlessly integrated technological future.
                </p>
            </div>
            <i class="bi bi-eye-fill"></i>
        </div>
    </div>
    <div class="values">
        <div>
            <h3 class="heading-3">
                Our
            </h3>
            <h1 class="heading-1">Values</h1>
        </div>
        <div class="values__info">
            <ul>
                <li>Integrity and Accountability</li>
                <li>Innovation and creativity</li>
                <li>A Commitment to Excellence</li>
                <li>Environmental consciousness</li>
                <li>Customer Focus</li>
            </ul>
        </div>
        <i class="bi bi-flower3"></i>
    </div>
</section>