*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: inherit;
    position: relative;
    background-color: #fafafa;
    overflow-y: scroll;
    overflow-x: hidden;
}

.main {
    display: grid;
    grid-template-columns: [full-start] minmax(100px, 1fr) [center-start] repeat(
        12,
        [col-start] minmax(min-content, 120px) [col-end]
    ) [center-end] minmax(100px, 1fr) [full-end];
    grid-template-rows: min-content calc(100vh - 120px) 100vh;
}

.header {
    border-right: 1px solid #f0f0f0;
    border-left: 1px solid #f0f0f0;
    grid-row: 1/2;
    grid-column: center-start/center-end;
    display: grid;
    height: 120px;
    grid-template-columns: repeat(3, 1fr);
}

.first-section {
    padding: 0 20px;
    border-right: 1px solid #f0f0f0;
    border-left: 1px solid #f0f0f0;
    grid-column: center-start / center-end;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    position: relative;
}

.second-section {
    padding: 0 20px;
    border-right: 1px solid #f0f0f0;
    border-left: 1px solid #f0f0f0;
    grid-column: center-start / center-end;
    grid-row: 3/4;
    display: grid;
    position: relative;
    grid-template-columns: repeat(8, 1fr);
    grid-template-columns: repeat(6, min-content);
    gap: 20px;
}

.menu {
    grid-row: 1/2;
    grid-column: 1/3;
    list-style: none;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(170px, min-content));

    &__item {
        padding: 15px 20px;
    }

    &__link {
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 500;
        letter-spacing: 1.5px;
    }
}

.menu-right {
    grid-row: 1/2;
    grid-column: 3/-1;
}

img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

