<section class="first-section">
    <div class="info">
        <h1 class="heading-1">Almatin Investment Limited</h1>
        <p class="paragraph">
            At Almatin, we believe in quality as a key driver on all our assignments and contracts.
        </p>
        <a class="btn btn--start">Get Started</a>
    </div>
    <div class="visuals">
        <div class="image-container">
            <div class="overlay"></div>
            <img #imageFirst src="./../assets/images/first.jpg" alt="">
        </div>
        <div class="image-container">
            <img #imageSecond src="./../assets/images/second.jpg" alt="">
        </div>
    </div>
</section>
